
			{ "bool": 
			{ {{#should}}"should" :
			 [{{#services}} {"match" :
			{"services":"{{services}}" }}{{#location}},{{^location}}{{#user_id}},{{^user_id}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/user_id}}{{/user_id}}{{/location}}{{/location}}{{/services}}
			{{#location}} {"match" :
			{"location":"{{location}}"  }}{{#user_id}},{{^user_id}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/user_id}}{{/user_id}}{{/location}}
			{{#user_id}} {"match" :
			{"user_id":"{{user_id}}"}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/user_id}} 
			{{#name}}{"match": 
			 {"name":"{{name}}"}}{{#id}},{{/id}}{{/name}}
			{{#id}}{"match": 
			 {"id":"{{id}}"}}{{/id}}
			]
			  {{#must}},{{^must}}{{#must_not}},{{/must_not}}{{/must}}{{/must}}{{/should}}
			{{#must}}"must" :
			  [{{#services}} {"match" :
			{"services":"{{services}}" }}{{#location}},{{^location}}{{#user_id}},{{^user_id}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/user_id}}{{/user_id}}{{/location}}{{/location}}{{/services}}
			{{#location}} {"match" :
			{"location":"{{location}}"  }}{{#user_id}},{{^user_id}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/user_id}}{{/user_id}}{{/location}}
			{{#user_id}} {"match" :
			{"user_id":"{{user_id}}"}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/user_id}} 
			{{#name}}{"match": 
			 {"name":"{{name}}"}}{{#id}},{{/id}}{{/name}}
			{{#id}}{"match": 
			 {"id":"{{id}}"}}{{/id}}
			]
			{{#must_not}},{{/must_not}}{{/must}} 
			{{#must_not}}"must_not" :
			 [{{#services}} {"match" :
			{"services":"{{services}}" }}{{#location}},{{^location}}{{#user_id}},{{^user_id}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/user_id}}{{/user_id}}{{/location}}{{/location}}{{/services}}
			{{#location}} {"match" :
			{"location":"{{location}}"  }}{{#user_id}},{{^user_id}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/user_id}}{{/user_id}}{{/location}}
			{{#user_id}} {"match" :
			{"user_id":"{{user_id}}"}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/user_id}} 
			{{#name}}{"match": 
			 {"name":"{{name}}"}}{{#id}},{{/id}}{{/name}}
			{{#id}}{"match": 
			 {"id":"{{id}}"}}{{/id}}
			]{{/must_not}}
}
}