
			
			{ "bool": 
			{ {{#should}}"should" :
			 [{{#description}} {"match" :
			{"description":"{{description}}"}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/description}} 
			{{#name}}{"match": 
			 {"name":"{{name}}"}}{{#id}},{{/id}}{{/name}}
			{{#id}}{"match": 
			 {"id":"{{id}}"}}{{/id}}
			]
			  {{#must}},{{^must}}{{#must_not}},{{/must_not}}{{/must}}{{/must}}{{/should}}
			{{#must}}"must" :
			[{{#description}} {"match" :
			{"description":"{{description}}"}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/description}} 
			{{#name}}{"match": 
			 {"name":"{{name}}"}}{{#id}},{{/id}}{{/name}}
			{{#id}}{"match": 
			 {"id":"{{id}}"}}{{/id}}
			]
			{{#must_not}},{{/must_not}}{{/must}} 
			{{#must_not}}"must_not" :
			 [{{#description}} {"match" :
			{"description":"{{description}}"}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/description}} 
			{{#name}}{"match": 
			 {"name":"{{name}}"}}{{#id}},{{/id}}{{/name}}
			{{#id}}{"match": 
			 {"id":"{{id}}"}}{{/id}}
			]
			{{/must_not}}
}
}