
			
			{ "bool": 
			{ {{#should}}"should" :
			 [{{#type}} {"match" :
			{"type":"{{type}}" }}{{#email}},{{^email}}{{#phone}},{{^phone}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/phone}}{{/phone}}{{/email}}{{/email}}{{/type}}
			{{#email}} {"match" :
			{"email":"{{email}}"  }}{{#phone}},{{^phone}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/phone}}{{/phone}}{{/email}}
			{{#phone}} {"match" :
			{"phone":"{{phone}}"}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/phone}} 
			{{#name}}{"match": 
			 {"name":"{{name}}"}}{{#id}},{{/id}}{{/name}}
			{{#id}}{"match": 
			 {"id":"{{id}}"}}{{/id}}
			]
			  {{#must}},{{^must}}{{#must_not}},{{/must_not}}{{/must}}{{/must}}{{/should}}
			{{#must}}"must" :
			  [{{#type}} {"match" :
			{"type":"{{type}}" }}{{#email}},{{^email}}{{#phone}},{{^phone}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/phone}}{{/phone}}{{/email}}{{/email}}{{/type}}
			{{#email}} {"match" :
			{"email":"{{email}}"  }}{{#phone}},{{^phone}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/phone}}{{/phone}}{{/email}}
			{{#phone}} {"match" :
			{"phone":"{{phone}}"}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/phone}} 
			{{#name}}{"match": 
			 {"name":"{{name}}"}}{{#id}},{{/id}}{{/name}}
			{{#id}}{"match": 
			 {"id":"{{id}}"}}{{/id}}
			]
			{{#must_not}},{{/must_not}}{{/must}} 
			{{#must_not}}"must_not" :
			 [{{#type}} {"match" :
			{"type":"{{type}}" }}{{#email}},{{^email}}{{#phone}},{{^phone}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/phone}}{{/phone}}{{/email}}{{/email}}{{/type}}
			{{#email}} {"match" :
			{"email":"{{email}}"  }}{{#phone}},{{^phone}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/phone}}{{/phone}}{{/email}}
			{{#phone}} {"match" :
			{"phone":"{{phone}}"}}{{#name}},{{^name}}{{#id}},{{/id}}{{/name}}{{/name}}{{/phone}} 
			{{#name}}{"match": 
			 {"name":"{{name}}"}}{{#id}},{{/id}}{{/name}}
			{{#id}}{"match": 
			 {"id":"{{id}}"}}{{/id}}
			]{{/must_not}}
}
}